@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --SyneFont: "Syne", "sans-serif";
  --Commissioner: "Commissioner", serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--SyneFont);
}
.container {
  margin: 0 auto;
}

.flame {
  width: 100%;
  background-image: url("https://images.axios.com/uZyipmbm1quQD1Xp4biy2oTXvIU=/0x0:1920x1080/1920x1080/2023/07/27/1690491878000.jpg");
  background-position: 0 -1000px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fire 7s linear infinite;
}

@keyframes fire {
  0% {
    background-position: 0% -50%;
  }
  100% {
    background-position: 0% -25%;
  }
}
/* .text_gradient {
  background-image: linear-gradient(90deg, rgba(127,29,29,1) 16%, rgba(255,255,255,0.6783088235294117) 100%);;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
} */
.btn_wrapper {
  background-color: offwhite;
  transform: all 0.3s;
}

.btn_wrapper:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid #991b1b;
  border-left: 2px solid #991b1b;
  transition: all 0.25s;
}
.btn_wrapper:hover:before,
.btn_wrapper:hover:after {
  width: 95%;
  height: 86%;
}
.btn_wrapper:after {
  content: "";
  position: absolute;
  width: 28px;
  height: 24px;
  bottom: 6px;
  right: -10px;
  border-bottom: 2px solid #4D4D4D;
  border-right: 2px solid #4D4D4D;
  transition: all 0.3s;
}
.separater {
  width: 100px;
  height: 2px;
  background: white;
  margin-bottom: 20px;
  position: relative;
  margin-left: 20px;
}

.separater:before {
  position: absolute;
  top: -4px;
  left: -20px;
  content: "";
  background: #991b1b;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.video_wrapper {
  transform: translate(-50%, -50%);
}

#spin:after {
  content: "Mohit Ashta";
  animation: spin 15s linear infinite;
}
@keyframes spin {
  0% {
    content: "Mohit Ashta";
  }
  100% {
    content: "Frontend Developer";
  }
}

